@using AdvertisingPortal.Persistence.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal Ofertowy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker_master_dist_css_bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker_master_dist_css_bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/lib/simplelightbox/css/simple-lightbox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdvertisingPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid ">
                <ul class="nav nav-pills nav-fill justify-content-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="@Url.Action("Adverts","Advert")" role="button" aria-expanded="false">Zaofertuj</a>
                        @if (User.GetUserId() is not null)
                        {
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Adverts","Advert")">Moje oferty</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Advert","Advert")">Dodaj nową</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item disabled" href="@Url.Action("Adverts","Advert")">Moje oferty</a></li>
                                <li><a class="dropdown-item disabled" href="@Url.Action("Advert","Advert")">Dodaj nową</a></li>
                            </ul>
                        }
                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="@Url.Action("Adverts","Advert")" role="button" aria-expanded="false">Kup</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("AdvertsReadOnly","Advert")">Wszystkie oferty</a></li>
                            <li><a class="dropdown-item disabled" href="#">Historia ofert</a></li>
                        </ul>
                    </li>
                </ul>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Pozostałe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Regulamin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Polityka prywatności</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dane logowania
                                </a>
                                <ul class="dropdown-menu">
                                    <partial name="_LoginPartial" />
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Portal Ofertowy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/jquery/bootstrap-datepicker_master_dist_js_bootstrap-datepicker.js"></script>
    <script src="~/lib/simplelightbox/jquery/simple-lightbox.jquery.min.js"></script>
    <script src="~/lib/simplelightbox/jquery/simple-lightbox.legacy.min.js"></script>
    @* <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsge03eTloN7UJTkkoNQ5yDemjr46mRdU&callback=console.debug&libraries=maps,marker&v=beta"></script>  *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
