@model IEnumerable<AdvertisingPortal.Core.Models.Domains.Advert>

<div id="advertsTable">
    <table class="table mt-3 table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Kategoria 1</th>
                <th scope="col">Kategoria 2</th>
                <th scope="col">Kategoria 3</th>
                <th scope="col">Data publikacji</th>
                <th scope="col">Cena</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var advert in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Advert","Advert",new{id=advert.Id})" class="fw-bold">@advert.Title</a>
                        </td>
                        <td>@advert.Description</td>
                        <td>@advert.BuySellCategory.Name</td>
                        <td>@advert.ItemServiceCategory.Name</td>
                        <td>@advert.Category.Name</td>
                        <td>@advert.AdvertDate.ToString("dd-MM-yyyy")</td>
                        <td>@advert.Price zł</td>
                        <td>
                            @if (!advert.IsFinished)
                            {
                                <b class="text-success">Aktywne</b>
                            }
                            else
                            {
                                <b class="text-danger">Zakończone</b>
                            }
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="deleteAdvert('@advert.Id',this)">Usuń</button>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="7">Brak ogłoszeń do wyświetlenia!</td>
                </tr>
            }
        </tbody>
    </table>
</div>
