@model AdvertisingPortal.Core.ViewModels.AdvertsViewModel

@{
            // ViewData["Title"] = "Adverts";
}

<h1>Adverts</h1>

<form id="filterForm" class="row gx-3 gy-2 align-items-center">
    <div class="col-sm-3">
        @Html.TextBoxFor(x => x.FilterAdverts.Title, new { @class = "form-control mb-2", placeholder = "Tytuł" })
    </div>
    <div class="col-sm-3">
        @Html.DropDownListFor(x => x.FilterAdverts.BuySellCategoryId,
        new SelectList(Model.BuySellCategories, "Id", "Name"),
        "-- wybierz kategorię --",
        new { @class = "form-control mb-2" })
    </div>
    <div class="col-sm-3">
        @Html.DropDownListFor(x => x.FilterAdverts.ItemServiceCategoryId,
        new SelectList(Model.ItemServiceCategories, "Id", "Name"),
        "-- wybierz kategorię --",
        new { @class = "form-control mb-2" })
    </div>
    <div class="col-sm-3">
        @Html.DropDownListFor(x => x.FilterAdverts.CategoryId,
        new SelectList(Model.Categories, "Id", "Name"),
        "-- wybierz kategorię --",
        new { @class = "form-control mb-2" })
    </div>
    <div class="col-sm-3">
        <div class="form-check mb-2">
            @Html.CheckBoxFor(x => x.FilterAdverts.IsExisting,
            new { @class = "form-check-label" })

            @Html.LabelFor(x => x.FilterAdverts.IsExisting)
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Szukaj</button>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#AdvertDate').datepicker({
                format: "dd-mm-yyyy",
                language: "pl-PL",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                startDate: '-3d',
                weekStart: 1,
                todayBtn: true,
                forceParse: false
            });
        });
    </script>
}