@model AdvertisingPortal.Core.ViewModels.AdvertViewModel


@{
    ViewData["Title"] = Model.Heading;
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Advert", "Advert"))
{
    <p class="alert alert-info mt-4 mb-4">Pola tytuł, opis i kategorie są <strong>wymagane</strong></p>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Advert.Id)

    <div class="form-group">

        @Html.LabelFor(x=>x.Advert.Title)
        @Html.TextBoxFor(x=>x.Advert.Title,new{@class="form-control",autofocus="autofocus"})
        @Html.ValidationMessageFor(x=>x.Advert.Title)
    </div>

    <div class="form-group">

        @Html.LabelFor(x=>x.Advert.Description)
        @Html.TextBoxFor(x=>x.Advert.Description,new{@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Advert.Description)
    </div>

    <div class="form-group">

        @Html.LabelFor(x=>x.Advert.BuySellCategoryId)
        @Html.DropDownListFor(x=>x.Advert.BuySellCategoryId,new SelectList(Model.BuySellCategories,"Id","Name"),"-- wybierz kategorię 1 --", new{@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Advert.BuySellCategoryId)
    </div>

    <div class="form-group">

        @Html.LabelFor(x=>x.Advert.ItemServiceCategoryId)
        @Html.DropDownListFor(x=>x.Advert.ItemServiceCategoryId,new SelectList(Model.ItemServiceCategories,"Id","Name"),"-- wybierz kategorię 2 --", new{@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Advert.ItemServiceCategoryId)
    </div>

    <div class="form-group">

        @Html.LabelFor(x=>x.Advert.CategoryId)
        @Html.DropDownListFor(x=>x.Advert.CategoryId,new SelectList(Model.Categories,"Id","Name"),"-- wybierz kategorię 3 --", new{@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Advert.CategoryId)
    </div>

    <div class="form-group">

        @Html.LabelFor(x=>x.Advert.AdvertDate)
        @Html.TextBoxFor(x=>x.Advert.AdvertDate,"{0:dd-MM-yyyy}",new{@class="form-control", @id="AdvertDate", autocomplete="off"})
        @Html.ValidationMessageFor(x=>x.Advert.AdvertDate)
    </div>
    
    <div class="form-group">

        @Html.LabelFor(x=>x.Advert.Price)
        @Html.TextBoxFor(x=>x.Advert.Price,new{@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Advert.Price)
    </div>

    <div class="form-check">
        @Html.CheckBoxFor(x=>x.Advert.IsPromoted,new {@class="form-check-input"})
        @Html.LabelFor(x=>x.Advert.IsPromoted)
    </div>

    if (Model.Advert.Id > 0)
    {
        <div class="form-check">
            @Html.CheckBoxFor(x=>x.Advert.IsFinished,new {@class="form-check-input"})
            @Html.LabelFor(x=>x.Advert.IsFinished)
        </div>
    }

    <button type="submit" class="btn btn-primary btn-lg mt-2">Zapisz</button>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('#AdvertDate').datepicker({
                format: "dd-mm-yyyy",
                language: "pl-PL",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                startDate: '-3d',
                weekStart: 1,
                todayBtn: true,
                forceParse: false
            });
        });
    </script>
}
